/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --green-light: hsl(123deg, 47%, 74%);
  --green-dark: #359239;
  --blue-light: hsl(210deg, 47%, 74%);
  --blue-dark: #356392;
  --orange-light: hsl(34deg, 93%, 77%);
  --orange-dark: #cf7807;
  --purple-light: hsl(231deg, 44%, 76%);
  --purple-dark: #3b4897;
  --yellow-light: hsl(54deg, 76%, 79%);
  --yellow-dark: #c5b41b;
  --brown-light: hsl(20deg, 41%, 69%);
  --brown-dark: #7a4b33;
  --red-light: hsl(0deg, 59%, 76%);
  --red-dark: #a62b2b;
  --pink-light: hsl(295deg, 42%, 72%);
  --pink-dark: #7f3786;
  --white-light: hsl(0deg, 0%, 100%);
  --white-dark: #a6a6a6;
}

body {
  display: grid;
  min-height: 100vh;
  place-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.orbit .center-image {
  width: 12rem;
  position: relative;
  transform: translate(-2rem, -2rem);
}
.orbit .center-image img {
  position: absolute;
  transition: opacity 450ms;
}
.orbit .center-image img:not(:first-child):hover {
  opacity: 0;
}
.orbit ul {
  position: relative;
  list-style: none;
}
.orbit li {
  --icon-bg: red;
  --text-bg: blue;
  background: var(--icon-bg);
  position: absolute;
  width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  font-weight: 500;
  color: var(--white-light);
  text-align: center;
  line-height: 1;
}
.orbit li > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.orbit li > p {
  background: var(--text-bg);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: opacity 450ms;
  opacity: 0;
}
.orbit li:hover > p {
  opacity: 1;
}
.orbit li:nth-child(1) {
  --icon-bg: var(--blue-light);
  --text-bg: var(--blue-dark);
  transform: translate(15rem, 0rem);
}
.orbit li:nth-child(2) {
  --icon-bg: var(--green-light);
  --text-bg: var(--green-dark);
  transform: translate(12rem, 12rem);
}
.orbit li:nth-child(3) {
  --icon-bg: var(--pink-light);
  --text-bg: var(--pink-dark);
  transform: translate(0rem, 15rem);
}
.orbit li:nth-child(4) {
  --icon-bg: var(--red-light);
  --text-bg: var(--red-dark);
  transform: translate(-12rem, 12rem);
}
.orbit li:nth-child(5) {
  --icon-bg: var(--brown-light);
  --text-bg: var(--brown-dark);
  transform: translate(0rem, -15rem);
}
.orbit li:nth-child(6) {
  --icon-bg: var(--yellow-light);
  --text-bg: var(--yellow-dark);
  transform: translate(-12rem, -12rem);
}
.orbit li:nth-child(7) {
  --icon-bg: var(--purple-light);
  --text-bg: var(--purple-dark);
  transform: translate(-15rem, 0rem);
}
.orbit li:nth-child(8) {
  --icon-bg: var(--orange-light);
  --text-bg: var(--orange-dark);
  transform: translate(12rem, -12rem);
}

/*# sourceMappingURL=style.css.map */
